div{
  font-style: oblique;
    display: inline;
    width: 200px;
    height: 200px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 50px;

  
  
    
}
h1{

    font-size: 30px;
    text-align: right;
    display: inline-block;
 padding-left: 30px;
 padding-right: 30px;
padding-top: 30px;
padding-bottom: 30px;
background-color: rgb(165, 89, 93);
border-color:black;
border-width: 10px;
border-style: solid;



}